@import "tailwindcss";

/* Modo Claro mas tem que ver ainda
@theme {
  --color-primary: #00e07b;
  --color-primary-dark: #00b366;
  --color-secondary: #009f5c;

  --color-bg: #f9fafb;
  --color-bg-card: #ffffff;
  --color-text: #111827;
  --color-text-muted: #6b7280;

  --color-gray: #d1d5db;
}
*/

/* Modo escuro */
@theme {
  --color-primary: #00ff9c;
  --color-primary-dark: #00cc7f;
  --color-secondary: #00b36f;

  --color-bg: #15151a;
  --color-bg-card: #1f1f26;
  --color-text: #f6f6f6;
  --color-text-muted: #9ca3af;

  --color-gray: #605e68;
}

/* Animação do sino */
@keyframes bell-shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bell-hover:hover {
  animation: bell-shake 0.4s ease-in-out;
  transform-origin: top center;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 6s linear infinite alternate;
}

.select-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.select-scrollbar::-webkit-scrollbar-track {
  background: #1f1f26;
  border-radius: 5px;
}

.select-scrollbar::-webkit-scrollbar-thumb {
  background: #00ff9c;
  border-radius: 5px;
  border: 1px solid #00cc7f;
}

@supports not selector(::-webkit-scrollbar) {
  .select-scrollbar {
    scrollbar-color: #00ff9c #1f1f26;
  }
}


.custom-overflow{
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-dark) transparent;
}
.html-scroller{
  background: #15151A;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-dark) var(--color-bg-card) ;
}